<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BehaviorViewPointModel -->
      <package
            uri="http://www.example.org/xcore/behavior"
            class="lemma.adapted.xcore.behavior.BehaviorPackage"
            genModel="model/BehaviorViewPointModel.xcore"/>
   </extension>

</plugin>
