<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Dact -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dact.presentation.DactModelWizardID"
            name="%_UI_DactModelWizard_label"
            class="dact.presentation.DactModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DactModelFile.gif">
         <description>%_UI_DactModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Dact -->
      <editor
            id="dact.presentation.DactEditorID"
            name="%_UI_DactEditor_label"
            icon="icons/full/obj16/DactModelFile.gif"
            extensions="dact"
            class="dact.presentation.DactEditor"
            contributorClass="dact.presentation.DactActionBarContributor">
      </editor>
   </extension>

</plugin>
